{% extends 'base.html' %}

{% block content %}
    <form action="" class="accounts_form" method="post" id="registration_form" style="width: 30%;margin: 20vh auto;padding: 20px;">
        {% csrf_token %}

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" name="username" id="username_input" placeholder="Username">
      </div>
      
      <div class="input-group mb-3">
        <input type="email" class="form-control" name="email" id="email_input" placeholder="Email ID">
      </div>
      
      <div class="input-group mb-3">
        <input type="password" class="form-control" name="password" id="password_input" placeholder="Password">
      </div>

      <div class="input-group mb-3">
          <button type="submit" class="btn btn-success" style="margin: auto;">Register</button>
      </div>

      <div class="input-group mb-3">
          <a href="{% url 'login' %}" style="margin: auto;">Login here</a>
      </div>

    </form>

{% endblock %}

{% block js_files %}{% endblock %}
